* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100vw;
   min-height: 100vh;
   font-family: "Plus Jakarta Sans", "Poppins", sans-serif;
   background-color: var(--bg-color);
   background: var(--bg-gradient);
   display: grid;
   grid-template-columns: 0.5fr 3.5fr 2fr;
   grid-template-areas:
      "nav search ."
      "nav main-content todayForecast"
      "nav todayStats todayForecast"
      "nav fiveDayForecast todayForecast";
   row-gap: 2rem;
   color: var(--text-color);
}

#main-content {
   display: grid;
   gap: 1rem;
   grid-template-areas:
      "headline weatherIcon"
      "temperature weatherIcon";
   color: white;
   text-shadow: var(--text-shadow);
   grid-area: main-content;
   padding-inline: 1rem;
}

#headline {
   align-self: end;
}

#location {
   font-size: 4rem;
}

#temperature {
   align-self: start;
   font-size: 7rem;
}

#date,
.hourly-card,
#five-day-forecast {
   font-family: "Poppins", sans-serif;
}

#date {
   font-size: 2.5rem;
}

#today-weather-icon {
   grid-area: weatherIcon;
   justify-self: end;
   width: clamp(20%, 80%, 350px);
}

#current-conditions {
   display: grid;
   grid-auto-flow: column;
   text-align: center;
   gap: 3rem;
   grid-area: todayStats;
   align-items: center;
   justify-self: center;
}

#current-conditions div,
#five-day-forecast {
   background-color: var(--card-bg-color);
}

#current-conditions div {
   color: var(--card-text-color);
   border-radius: 35px;
   padding: 1.3rem;
   width: 14rem;
}

#wind-speed,
#humidity-level,
#rain-chance {
   font-weight: 600;
   font-size: 1.65rem;
}

#current-conditions div img {
   height: 3.5rem;
   margin-bottom: 0.5rem;
}

.stat-title {
   font-size: 1.5rem;
}

#today-forecast {
   grid-area: todayForecast;
}

#hourly-card-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.hourly-card {
   display: grid;
   grid-auto-flow: column;
   background-color: white;
   border-radius: 10px;
   align-items: center;
   padding-inline: 1.5rem;
   font-size: 1.5rem;
   grid-template-columns: repeat(3, 1fr);
}

.hourly-card,
#five-day-forecast {
   color: var(--secondary-text-color);
}

.hourly-card img {
   width: 6.3rem;
   justify-self: center;
}

.hourly-temp {
   text-align: right;
   font-size: 2rem;
   font-weight: 500;
}

#five-day-forecast {
   grid-area: fiveDayForecast;
}

nav {
   grid-area: nav;
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: 2rem;
}

#settings-btn {
   background-image: url("../images/Settings.svg");
   background-size: 3.8rem;
   width: 4rem;
   height: 4rem;
   background-repeat: no-repeat;
   border: none;
}

form {
   grid-area: search;
   margin-top: 1rem;
}

form,
#main-content,
#current-conditions {
   margin-left: 1rem;
}

form input {
   border: none;
   border-radius: 25px;
   padding: 0.7rem 2rem;
   font-size: 1.25rem;
   width: 91%;
}

form input::placeholder {
   font-style: italic;
}

nav,
#today-forecast {
   background-color: var(--secondary-card-bg-color);
}

nav,
#today-forecast,
#five-day-forecast {
   box-shadow: var(--box-shadow);
}

#today-forecast {
   border-radius: 20px;
   padding: 2.5rem;
   padding-right: 1rem;
   margin-left: 4rem;
   margin-right: 6rem;
   height: 86vh;
   overflow: hidden;
}

#hourly-card-container {
   overflow-y: auto;
   height: 100%;
   padding-bottom: 3rem;
   padding-right: 1.5rem;
}

#hourly-card-container::-webkit-scrollbar {
   background-color: white;
   width: 0.6rem;
   border-radius: 10px;
}

#hourly-card-container::-webkit-scrollbar-thumb {
   background-color: #66c8e5;
   border-radius: 10px;
}

#today-forecast,
#five-day-forecast {
   margin-bottom: 2rem;
}

#five-day-forecast {
   display: grid;
   grid-auto-flow: column;
   border-radius: 20px;
   padding: 1rem;
   font-size: 1.2rem;
}

#five-day-forecast > div {
   display: grid;
   grid-template-areas:
      "date date"
      "icon icon"
      "min max";
   justify-content: space-around;
   text-align: center;
   margin: 0.7rem 1rem;
   background-color: white;
   border-radius: 10px;
}

#five-day-forecast > div > img {
   grid-area: icon;
   width: 6rem;
   justify-self: center;
}

.five-day-date {
   grid-area: date;
}

.min-temp {
   grid-area: min;
}

.max-temp {
   grid-area: max;
}

h4 {
   font-size: 1.9rem;
   margin-bottom: 1.5rem;
}

.bold {
   font-weight: 500;
}

.extra-bold {
   font-weight: 800;
}
