* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100vw;
   min-height: 100vh;
   font-family: "Plus Jakarta Sans", "Poppins", sans-serif;
   color: var(--text-color);
   background-color: var(--bg-color);
   background: var(--bg-gradient);
   display: grid;
   grid-template-columns: 0.5fr 3.5fr 2fr;
   grid-template-areas:
      "nav search ."
      "nav main-content todayForecast"
      "nav todayStats todayForecast"
      "nav fiveDayForecast todayForecast";
   row-gap: 2rem;
}

#date,
.hourly-card,
#five-day-forecast {
   font-family: "Poppins", sans-serif;
}

#main-content {
   grid-area: main-content;
   display: grid;
   gap: 1rem;
   grid-template-areas:
      "headline weatherIcon"
      "temperature weatherIcon";
   padding-inline: 1rem;
   color: white;
   text-shadow: var(--text-shadow);
}

#headline {
   align-self: end;
}

#location {
   font-size: 4rem;
}

#temperature {
   align-self: start;
   font-size: 7rem;
}

#today-weather-icon {
   grid-area: weatherIcon;
   justify-self: end;
   width: clamp(20%, 80%, 350px);
}

#current-conditions {
   grid-area: todayStats;
   display: grid;
   grid-auto-flow: column;
   gap: 3rem;
   align-items: center;
   justify-self: center;
   text-align: center;
}

#current-conditions div {
   width: 14rem;
   padding: 1.3rem;
   border-radius: 35px;
   background-color: var(--card-bg-color);
   color: var(--card-text-color);
}

#wind-speed,
#humidity-level,
#rain-chance {
   font-weight: 600;
   font-size: 1.65rem;
}

#current-conditions div img {
   height: 3.5rem;
   margin-bottom: 0.5rem;
}

.stat-title {
   font-size: 1.5rem;
}

#today-forecast {
   grid-area: todayForecast;
   border-radius: 20px;
   padding: 2.5rem;
   padding-right: 1rem;
   margin-left: 4rem;
   margin-right: 6rem;
   height: 86vh;
   overflow: hidden;
   background-color: var(--secondary-card-bg-color);
   box-shadow: var(--box-shadow);
   margin-bottom: 2rem;
}

#date {
   font-size: 2.5rem;
}

#hourly-card-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   overflow-y: auto;
   height: 100%;
   padding-bottom: 3rem;
   padding-right: 1.5rem;
}

#hourly-card-container::-webkit-scrollbar {
   background-color: white;
   width: 0.6rem;
   border-radius: 10px;
}

#hourly-card-container::-webkit-scrollbar-thumb {
   background-color: #66c8e5;
   border-radius: 10px;
}

.hourly-card {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   padding-inline: 1.5rem;
   font-size: 1.5rem;
   background-color: white;
   border-radius: 10px;
   color: var(--secondary-text-color);
}

.hourly-card img {
   width: 6.3rem;
   justify-self: center;
}

.hourly-temp {
   text-align: right;
   font-size: 2rem;
   font-weight: 500;
}

#five-day-forecast {
   grid-area: fiveDayForecast;
   display: grid;
   grid-auto-flow: column;
   padding: 1rem;
   font-size: 1.2rem;
   border-radius: 20px;
   background-color: var(--card-bg-color);
   color: var(--secondary-text-color);
   box-shadow: var(--box-shadow);
   margin-bottom: 2rem;
}

#five-day-forecast > div {
   display: grid;
   grid-template-areas:
      "date date"
      "icon icon"
      "min max";
   justify-content: space-around;
   text-align: center;
   margin: 0.7rem 1rem;
   background-color: white;
   border-radius: 10px;
}

#five-day-forecast > div > img {
   grid-area: icon;
   width: 6rem;
   justify-self: center;
}

.five-day-date {
   grid-area: date;
}

.min-temp {
   grid-area: min;
}

.max-temp {
   grid-area: max;
}

nav {
   grid-area: nav;
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: 2rem;
   background-color: var(--secondary-card-bg-color);
   box-shadow: var(--box-shadow);
}

.image-btn {
   border: none;
   background-repeat: no-repeat;
   background-size: contain;
   background-color: transparent;
}

#settings-btn {
   background-image: url("../images/Settings.svg");
   width: 3.5rem;
   height: 3.5rem;
}

#close-btn {
   background-image: url("../images/Close.svg");
   width: 1.5rem;
   height: 1.5rem;
}

#close-btn,
#form-actions {
   align-self: flex-end;
}

form {
   grid-area: search;
   margin-top: 1rem;
   margin-left: 1rem;
}

form input {
   border: none;
   border-radius: 25px;
   padding: 0.7rem 2rem;
   font-size: 1.25rem;
   width: 91%;
}

form input::placeholder {
   font-style: italic;
}

h4 {
   font-size: 1.9rem;
   margin-bottom: 1.5rem;
}

.bold {
   font-weight: 500;
}

.extra-bold {
   font-weight: 800;
}

dialog {
   border: none;
   margin: auto;
   padding: 1.6rem 2rem;
   border-radius: 20px;
   background-color: var(--secondary-card-bg-color);
}

dialog::backdrop {
   background-color: rgba(0, 0, 0, 0.5);
}

#dialog-container {
   text-align: center;
   color: var(--text-color);
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
}

#toggle-options {
   display: flex;
   gap: 1.5rem;
   margin-bottom: 1.7rem;
}

.toggle {
   display: none;
}

.toggle-container {
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: fit-content;
   border-radius: 20px;
   border: 3px solid var(--toggle-background);
   background: var(--toggle-background);
   color: var(--toggle-background);
   cursor: pointer;
}

.toggle-container::before {
   content: "";
   position: absolute;
   width: 50%;
   height: 100%;
   left: 0%;
   border-radius: 20px;
   background: white;
   transition: all 0.3s;
}

.toggle-container div {
   padding: 6px;
   text-align: center;
   z-index: 1;
   font-size: 1.2rem;
}

.toggle:checked + .toggle-container::before {
   left: 50%;
}

.toggle:checked + .toggle-container div:first-child {
   color: white;
   transition: color 0.3s;
}
.toggle:checked + .toggle-container div:last-child {
   color: var(--toggle-background);
   transition: color 0.3s;
}

.toggle + .toggle-container div:first-child {
   color: var(--toggle-background);
   transition: color 0.3s;
}
.toggle + .toggle-container div:last-child {
   color: white;
   transition: color 0.3s;
}

#form-actions {
   display: flex;
   gap: 1rem;
   margin-right: 0.3rem;
}

#form-actions button {
   border-radius: 10px;
   padding: 0.5rem 1rem;
   border: solid 1px var(--text-color);
}

#save-btn {
   background-color: var(--text-color);
   color: white;
   cursor: pointer;
}

#cancel-btn {
   background-color: white;
   color: var(--text-color);
}
